@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: manrope;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --0: #E8E5DA;
    --1: #000000;
    --2: #f9a71b;
    --3: #0f1742;
    --4: #115c91;
    --5: #ffffff;
    --6: #00000040;
}

body {
    background-color: var(--0);
    overflow-x: hidden;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #cccccc70;
}

::-webkit-scrollbar-thumb {
    background-color: var(--4);
}

/* Header Styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    height: 45px;
    color: var(--0);
    background-color: var(--4);
    font-size: 1.5rem;
    width: 100%;
}

.headerSec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
}

.headerSec1 a {
    color: var(--0);
    text-decoration: none;
}

.headerSec1 p {
    transition: all .5s ease;
}

.headerSec1 p:hover {
    transform: translateY(-3px);
}

.headerSec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hiddenHeaderIcon {
    display: none;
}

header i {
    color: var(--0);
    transition: all .5s ease;
}

header a i:hover {
    transform: translateY(-3px);
}

.headerSec2 .loc {
    font-size: 1.38rem;
}

/* Nav Styling */

nav {
    height: 70px;
    width: 100%;
    background-color: var(--3);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    border-radius: 50%;
    height: 45px;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.navList .closenav {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.6em;
    display: none;
    cursor: pointer;
    transition: transform .2s linear;
}

.navList .closenav:hover {
    transform: rotate(90deg);
}

.navLink a {
    color: var(--0);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: color .2s linear;
}

.navLink a::after {
    content: " ";
    width: 0%;
    height: 4px;
    position: absolute;
    background-color: var(--2);
    transition: width .2s linear;
    top: 27px;
}

.navLink:hover a::after {
    width: 100%;
}

label[for="menu"] {
    align-self: center;
    cursor: pointer;
    font-size: 1.4rem;
    display: none;
    color: var(--0);
    margin: 0;
}

input[type="checkbox"] {
    display: none;
}

.activeNavLink a {
    color: var(--2);
}

.activeNavLink a::after {
    width: 100%;
    background-color: var(--2);
}

/* To Top Styling */

.sideIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    flex-wrap: wrap;
    z-index: 1000;
}

.toTop {
    font-size: 1.5rem;
    background-color: var(--2);
    color: var(--0);
    padding: 10px 14px;
    border-radius: 50%;
    z-index: 900;
    transition: all .4s ease;
    visibility: hidden;
    height: 47.2px;
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: .8;
}

.showBtn {
    visibility: visible;
}

.toWtsp {
    font-size: 1.5rem;
    background-color: #25D366;
    color: var(--5);
    padding: 10px 14px;
    border-radius: 50%;
    z-index: 900;
    transition: all .4s ease;
    height: 47.2px;
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: .8;
}

.toTop:hover,
.toWtsp:hover {
    opacity: 1;
}

/* Footer Styling */

footer {
    width: 100%;
    min-height: 60px;
    background-color: var(--4);
    color: var(--0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    font-weight: 300;
}

footer a {
    color: var(--0);
}

/* Main Section Styling */

.mainSection {
    position: relative;
    height: calc(100dvh - 115px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 100px;
}

.innerClipPath {
    height: 70px;
    width: fit-content;
    padding-right: 40px;
    color: var(--0);
    background-color: var(--4);
    z-index: 100;
    position: absolute;
    bottom: 0px;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.clipPathHead {
    font-size: 1.7rem;
    font-weight: bold;
}

#mainImgRight,
#mainImgLeft {
    position: absolute;
    z-index: 100;
    height: 50px;
    width: 50px;
    background-color: var(--4);
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--0);
    cursor: pointer;
    font-size: 1.3rem;
}

#mainImgRight {
    right: 10px;
}

#mainImgLeft {
    left: 10px;
}

.bgLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

.bgLayer.active {
    opacity: 1;
    z-index: 1;
}

/* Info Section Styling */

.infoSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 50px;
    flex-wrap: wrap;
    margin: 150px 0 100px 0;
}

.infoLeft {
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 15px;
}

.leftH3 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--4);
}

.leftP {
    font-size: 1.1rem;
    width: 400px;
    text-align: justify;
}

.btn {
    color: var(--0);
    text-decoration: none;
    background-color: var(--4);
    padding: 15px 20px;
    margin-top: 20px;
    transition: background-color .3s linear, color .3s linear;
    font-weight: bold;
    text-align: center;
}

.btn:hover {
    background-color: var(--3);
    color: var(--2);
}

.infoRight {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.rightInner {
    width: 280px;
    height: 200px;
    border: 5px solid #0f174270;
    padding: 30px;
}

.innerIdx {
    font-size: 2rem;
    color: var(--2);
    font-weight: 800;
}

.innerHead {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--4);
}

/* Choose Us Section */

.why-choose-us {
  padding: 10px 20px;
}

.why-choose-us h2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 70px;
  font-weight: 800;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.card {
  border: 5px solid #0f174270;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.card i {
  font-size: 2rem;
  color: var(--4);
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--3);
}

.card p {
  color: #555;
  font-size: 0.95rem;
}

/* Testimonial Styling */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.testimonials h3 {
    font-size: 1.75rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 100px;
}

.testimonialsInner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 40px;
    flex-wrap: wrap;
}

.reviewCards {
    border: 5px solid #0f174270;
    width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 50px 15px 15px 15px;
    text-align: center;
}

.imgdiv {
    position: absolute;
    top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.9rem;
    color: var(--3);
}

.imgdiv img {
    height: 90px;
    border-radius: 50%;
    border: 7px solid var(--0);
    background-color: var(--2);
}

.imgdiv h2 {
    display: inline-block;
    position: absolute;
}

.lefth2 {
    top: -25px;
    left: -50px;
}

.righth2 {
    bottom: -60px;
    right: -50px;
}

.reviewName {
    font-size: 1rem;
    color: var(--4);
}

/* Quotes Section */

.quoteSection {
    width: 100%;
    height: 470px;
    background-image: url("Images/bgimg1.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.quoteSecInner {
    width: 100%;
    height: 100%;
    background-color: #00000040;
    backdrop-filter: blur(2px);
    color: var(--0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.quoteSecInner h2 {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--2);
}

.quoteSecInner p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.quoteSecInner ul {
    list-style: none;
}

.quoteSecInner ul li {
    margin-bottom: 10px;
}

.quoteSecInner ul li i {
    color: var(--2);
}

.quoteSecInner a {
    color: var(--5);
    text-decoration: none;
    padding: 15px 20px;
    background-color: #0f174270;
    margin-top: 15px;
    border-radius: 2px;
    font-weight: 600;
    transition: all .4s linear;
}

.quoteSecInner a:hover {
    background-color: var(--3);
}

/* Services Page Styling */

.servicesHead {
    font-size: 1.75rem;
    margin: 70px 0 50px 0;
    text-align: center;
}

.servicesWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 70px 0 100px 0;
    gap: 20px;
}

.outerCardHorizontal {
    width: 600px;
    height: 300px;
    display: flex;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: var(--5);
}

.outerCardHorizontal:hover {
    transform: scale(1.02);
}

.cardImage {
    width: 300px;
    height: 300px;
    background-size: cover;
}

.cardContent {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--3);
    color: var(--0);
    gap: 15px;
}

.cardContent h3 {
    font-size: 1.4rem;
    font-weight: 800;
    margin: 0;
    color: var(--2);
}

.cardContent p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

/* Gallery Page Styling */

.galleryContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.galleryContainer h1 {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 50px;
    font-weight: 800;
    margin-bottom: 40px;
}

.galleryText {
    display: flex;
    justify-content: center;
    align-content: inherit;
    flex-direction: column;
}

.galleryText h2 {
    font-size: 1.75rem;
    text-align: center;
    margin-top: 50px;
    color: var(--4);
}

.galleryText p {
    font-size: .8rem;
    margin-bottom: 40px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

.gallery a {
    display: block;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.gallery img,
.gallery video {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    transition: all .2s linear;
}

.gallery a:hover img {
    transform: scale(1.1);
}

video {
    cursor: pointer;
}

/* About Page */

.aboutMain {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutContainer h1 {
    font-size: 1.75rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}

.aboutUl li {
    margin-bottom: 14px;
    list-style-type: disc;
    line-height: 1.5;
}

.aboutUlImpLi {
    list-style-type: none;
}

.chooseUs li {
    font-size: 1.15rem;
    margin-top: 16px;
    line-height: 1.6;
}

.accordion {
    background-color: var(--5);
    color: var(--1);
    padding: 18px 25px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.9rem;
    font-weight: 700;
    border-radius: 2px;
    margin: 25px 0 15px 0;
    cursor: pointer;
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.05);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accordionContent {
    padding: 20px 15px;
    border-radius: 2px;
    background-color: var(--5);
    box-shadow: 0 6px 15px rgb(0 0 0 / 0.1);
    line-height: 1.6;
    font-size: 1.05rem;
    margin-bottom: 30px;
}

.accordionContent p,
.accordionContent ul {
    margin: 12px 0;
    color: var(--1);
}

.accordionContent ul {
    padding-left: 20px;
}

.accordionContent ul li {
    margin-bottom: 14px;
}

.strongHead {
    font-size: 1.6rem;
    margin-bottom: 12px;
    font-weight: 700;
    color: var(--4);
}

.aboutStrong {
    color: var(--4);
    font-weight: 700;
}

/* Contact Page Styling */

.contactContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0 100px 0;
}

form {
    width: 400px;
    border: 5px solid #0f174270;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

form h1 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: 800;
}

label {
    font-size: 1.2rem;
    color: var(--3);
    font-weight: 800;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"] {
    height: 45px;
    border: none;
    border-bottom: 3px solid var(--6);
    background-color: var(--5);
    padding-left: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-bottom .3s linear;
    border-radius: 2px;
}

form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="text"]:focus,
form input[type="email"]:focus {
    border-bottom: 3px solid var(--4);
}

form textarea {
    resize: vertical;
    padding: 10px 0 0 10px;
    background-color: var(--5);
    outline: none;
    border: 3px solid var(--6);
    transition: border .3s linear;
    font-size: 1rem;
    height: 120px;
    border-radius: 2px;
}

form textarea:hover,
form textarea:focus {
    border: 3px solid var(--4);
}

form input,
form textarea {
    margin-bottom: 20px;
}

.submit {
    height: 45px;
    width: 100%;
    background-color: var(--4);
    color: var(--5);
    font-weight: bold;
    font-size: 1.2rem;
    transition: all .2s linear;
}

.submit:hover {
    background-color: var(--3);
}

.vr {
    width: 3px;
    height: 500px;
    background-color: var(--3);
}

.contactInfo {
    width: 400px;
    border: 5px solid #0f174270;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.inner h2 {
    font-weight: 800;
    color: var(--3);
    font-size: 1.2rem;
}

.inner a {
    color: var(--1);
    text-decoration: none;
    font-size: 1rem;
}

.inner p {
    margin-left: 20px;
}

.inner i {
    color: var(--5);
    height: 35px;
    width: 35px;
    font-size: 1rem;
    background-color: var(--4);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.iframeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.iframeContainer h2 {
    font-size: 1.75rem;
    font-weight: 800;
}

iframe {
    margin: 10px 0 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 450px;
    border: 0;
    z-index: 500;
}