<div class='headerSec1' data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
    <p><a href='https://wa.me/+971553527406'>+971 55 352 7406</a></p>
    <p><a href='mailto:info@mbc-technicalservices.com'>info@mbc-technicalservices.com</a></p>
</div>

<div class='headerSec2' data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
    <p><a class='hiddenHeaderIcon' href='https://wa.me/+971553527406' target='_blank'><i
                class='fab fa-square-whatsapp'></i></a></p>
    <p><a class='hiddenHeaderIcon' href='mailto:info@mbc-technicalservices.com' target='_blank'><i
                class='fas fa-square-envelope'></i></a></p>
    <p><a href='https://maps.app.goo.gl/DCFwwhLLphn8Ddjh8' target='_blank' class="loc"><i
                class='fa fa-location-dot'></i></a></p>
    <p><a href='https://www.instagram.com/mbcconstructioninteriors' target='_blank'><i
                class='fab fa-square-instagram'></i></a></p>
    <p><a href='https://www.facebook.com/profile.php?id=' target='_blank'><i class='fab fa-square-facebook'></i></a></p>
</div>