 <div class="logo" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
            <img src="Images/MBC-Construction-And-Interiors-LLC.webp" alt="">
            <h2>MBC Technical Services</h2>
        </div>

        <label for="menu"><i class="fa-solid fa-bars"></i></label>
        <input type="checkbox" name="menu" id="menu">

        <ul class="navList">
            <i class="closenav fa-solid fa-xmark"></i>
            <li class="navLink"><a href="index.html">Home</a></li>
            <li class="navLink"><a href="services.html">Services</a></li>
            <li class="navLink"><a href="gallery.html">Gallery</a></li>
            <li class="navLink"><a href="aboutUs.html">About Us</a></li>
            <li class="navLink"><a href="contact.html">Contact</a></li>
        </ul>