<div class="leftNav">
    <img class="logo" src="Images/MBC-Technical-Services.webp" alt="MBC Logo"></img>
    <h1>MBC Technical Services</h1>
</div>

<label class="menuIcon" for="menu"><i class="fa-solid fa-bars"></i></label>
<input type="checkbox" name="menu" id="menu">

<ul class="navList">
    <p class="closeNav"><i class="fa-solid fa-xmark"></i></p>

    <li class="navLink">
        <a href="index.html">Home</a>
    </li>
    <li class="navLink">
        <a href="services.html">Services</a>
    </li>
    <li class="navLink">
        <a href="gallery.html">Gallery</a>
    </li>
    <li class="navLink">
        <a href="aboutUs.html">About Us</a>
    </li>
    <li class="navLink">
        <a href="contact.html">Contact</a>
    </li>
</ul>